@import "tailwindcss";

/* Tema claro (por defecto) */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --color-accent: #ff6600;
  --button-background: #22c55e;
  --button-text: #ffffff;
  --button-border: 2px solid #22c55e;
  --button-hover-background: #ffffff;
  --button-hover-text: #22c55e;
  --border-color: #22c55e;
  --border-radius: 2px;
  --border-width: 2px;
}

[data-theme="dark"] {
  --background: #3a3a3a;
  --foreground: #ffffff;
  --color-accent: #ff6600;
  --button-background: #541491;
  --button-text: #0c0c0c;
  --button-border: 2px solid #541491;
  --button-hover-background: #0c0c0c;
  --button-hover-text: #541491;
  --border-color: #541491;
  --border-radius: 2px;
  --border-width: 2px;
}


/* También para usuarios que prefieren modo oscuro si no se usa data-theme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #171717;
    --foreground: #ffffff;
    --accent: #ff6600;
  }
}

/* Tipografía base y colores personalizados */
@layer base {
  html {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }

  a {
    color: var(--color-accent);
  }
}
